.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 30, 30);
}

.nav-bar-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.profile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.nav-txt {
    color: #c39940
}

.nav-txt:hover {
    color: #f2bd4c
}
