.profile-btn-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(82, 80, 80);
    height: 250px;
}

.profile-nav-selection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 110px;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c39940
}


.bookings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c39940
}

.listings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c39940
}

.reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c39940
}

.profile-nav-selection-logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-txt {
    color: #c39940
}


.dropdown-txt:hover {
    color: #f2bd4c
}
