.calendarWrapClosed {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.calendarWrapOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

.pickerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 750px;
}

.picker {
    margin-top: 15px;
}

.textAndInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detailsAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closeButton {
    background-color: black;
    border-color: black;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.datesWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkin {
    padding: 5px;
    border-right: 2px solid black;
}

.checkout {
    padding: 5px;
    border: none;
}

.bookButton {
    background-color: #ffdd67;
    width: 330px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border-color: #ffdd67;
    color: black;
    margin-bottom: 10px;
}

.inputBox {
    cursor: pointer;
    margin: 2px;
}
