.spot-image {
    width: 300px;
    height: auto;
    border-radius: 1em;
}

.bookingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.777);
    color: white
}

.booking-details-dates {
    display: flex;
    flex-direction: column;

}
