/* Home Page Styles */
.home-page{
 width: 100%;
 height: 100%;

}

/* Spots Card Styles */
.spots-card-container{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 0px 20px;
}

.spots-card {
  display: flex;
  flex-direction: column;
  margin: 15px;

}

.spots-card .slider {
  position: relative;
}

.spots-card .slider img{
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 20px;
}

.spots-card .slider .react-icons{
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  padding: 2px;
}

.right-clicker{
  position: absolute;
  top: 50%;
  right: 2%;

}

.left-clicker{
  position: absolute;
  top: 50%;
  left: 2%;
}

.spots-card-botttom{
  display: flex;
  flex-direction: column;
}

.spots-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spots-card-bold{
  font-weight: bold;
}

.spots-card-header .total-star-rating p{
  display: flex;
  align-items: center;
}
