/* All styles for the profile sections */

.profile-section {
  height: 100%;
  position: relative;
}


/* Styles for the Profile Page */

.banner-wrapper{
  background-image: url("../images/profileBackground.png");
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-wrapper p {
  color: white;
  padding: 10px;

}

.banner-wrapper .welcome-message{
  font-size: 3.7rem;
}

.profile-page {
  padding: 10px 80px;
  display: flex;
  flex-direction: column;
  background-color: var(--third-theme-color);
  height: 100%;
  color:white;
}

.profile-page .bio{
  width: 100%;

}

.profile-page img{
  width: 7.5rem;
  border: 5px solid var(--last-theme-color);

}

.about-me-container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.351);
  padding-bottom: 20px;
}
.about-me-container .bio{
  padding-left: 40px;
}
