.formPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    align-content: center;
    align-items: center;
}

.formGroup {
	display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
}

.leftSideImage {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	height: auto;
}

.imageFormLeft {
	display: flex;
	border-radius: 1em;
	align-items: center;
	margin: auto;
	justify-content: center;
	height: auto;
	width: 50em;
}

.formGroupInput {
	display: flex;
	justify-content: space-between;
    flex-direction: row;
}

.inputForm {
	border: none;
    border-radius: .5em;
	padding: 1em;
	width: 100%;
	background-color: #e9e9e9;
	margin-bottom: .5em;
	font-family: 'Open Sans', sans-serif;
}

.submitSpotBtn {
	background-color: #00509d;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

.submitSpotBtn:hover {
	background-color: #0473db;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.cancelSpotBtn {
	background-color: #cc1010;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	margin-left: 1em;
	font-family: 'Open Sans', sans-serif;
}

.cancelSpotBtn:hover {
	background-color: #cc1010;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.imageUploaderBtn {
	background-color: #2a9d8f;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

.imageUploaderBtn:hover {
	background-color: #2ea99b;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.errorMsg {
	background-color: #eb1515;
    color: rgb(232, 232, 232);
	border-radius: .5em;
    margin-bottom: 0.3em;
    padding: 0.2em;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}